<%- include('./layouts/header',{title: 'ok luon',linkCss:''}) %>

<p>trang X</p>

<form action="" method="get">
    <label for="name">ten</label>
    <input type="text" id="name" name="ok">
</form>
    
<%- include('./layouts/footter') %>
