<%- include('../layouts/header',{title: 'cham chi' }) %>
    <div class="admin-container">
        <div class="admin">
            <h1 class="admin-header">ADMIN</h1>
            <h3 class="guide">password là "minhtu123"</h3>
            <input class="input" type="password" placeholder="Nhập pass để vào trang admin">

        </div>
    </div>

<%- include('../layouts/footter') %>