<%- include('../layouts/header',{title: 'cham chi'}) %>
    
<h1>ADMID AE OI</h1>
<h3>password là "minhtu123"</h3>
<label for="">nhap password de vao</label>
<input type="password">
    
<%- include('../layouts/footter') %>
