<%- include('../layouts/header',{title: 'cham chi',linkCss:'' }) %>
    
    <div style="width:80%; display:flex; align-items: center; margin-top: 24px;">
        <img src="https://www.thegioididong.com/html/TGDD/destop/images/404.png" alt=""
        style="width:50%;">
        <div style="flex:1; text-align: center;">   
            <h1>Không tìm thấy trang</h1>
            <p>Trang bạn tiềm kiếm hiện ko tồn tại</p>
        </div>
    </div>

<%- include('../layouts/footter') %>